
<template id='ManualWorkspace'>

	<div class='theories'>
		<h3>Theory Files</h3>
		<ul id='TheoryList'>
			<li><form id='AddTheoryForm'><input type='text' name='theoryurl' /> <button>add</button></form></li>			
		</ul>
	</div>
	
</template>


<template id='ManualEditor'>
	<%= templates.ManualActionBar() %>		
	<div class='container'>
		<div class='row'><div class='col-md-12'>
			<%= templates.ManualModelEditor() %>		
		</div></div><!-- ./row -->
		<div class='row'><div class='col-md-12'>
			<%= templates.ManualTheoryEditor({posn:'Blend'}) %>		
		</div></div><!-- ./row -->
		<div class='row'>
			<div class='col-md-1'></div>
			<div class='col-md-4'>
	<%= templates.ManualMappingEditor({sourceposn:'A', targetposn:'Blend'}) %>
			</div>
			<div class='col-md-2'></div>
			<div class='col-md-4'>
	<%= templates.ManualMappingEditor({sourceposn:'B', targetposn:'Blend'}) %>
			</div>
			<div class='col-md-1'></div>
		</div><!-- ./row -->		
		<div class='row'>
			<div class='col-md-6'>
				<%= templates.ManualTheoryEditor({posn:'A'}) %>
			</div>
			
			<div class='col-md-6'>
				<%= templates.ManualTheoryEditor({posn:'B'}) %>
			</div>
		</div><!-- ./row -->
		<div class='row'>
		<div class='col-md-1'></div>
			<div class='col-md-4'>
	<%= templates.ManualMappingEditor({sourceposn:'Base', targetposn:'A'}) %>
				</div>
			<div class='col-md-2'></div>
			<div class='col-md-4'>
	<%= templates.ManualMappingEditor({sourceposn:'Base', targetposn:'B'}) %>
			</div>
			<div class='col-md-1'></div>
		</div><!-- ./row -->
		
	<div class='row'><div class='col-md-12'>
	<%= templates.ManualTheoryEditor({posn:'Base'}) %>
	</div></div>
	
	</div><!-- ./container -->
	
	<%= templates.CoinventSettings({}) %>
</template>

<template id='ManualActionBar'>

<div id='LoadModal' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Load <span class='name'></span></h4>
      </div>
      <div class="modal-body">
        <form role="form" onsubmit="$('button.Load').click(); return false;">
        	Theory URL: <input name='url' type='text' class='form-control' placeholder="pathToFile e.g. winterstein/mytheory.dol">
        	<!-- upload then use? <input type='file' class='form-control'>  -->
        </form>
        <div class="AlertHolder"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="Load btn btn-primary">Load</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<div class='ActionBar container center-block'>
		<!-- <button onclick=''>Load Blend-Diagram</button> -->
		<button type="button" class="btn btn-default" id='FindBase'>Find Base (anti-unify)</button>
		<button type="button" class="btn btn-default" id='FindBlend'>Find Blend</button>
		<!-- <button id='CheckBlend'>Check Blend for Consistency</button> -->
		<!-- <button id='ScoreBlend'>Score Blend</button> -->
	</div>
</template>

<template id='ManualTheoryEditor'>
<div class="Theory panel panel-default" id='ManualTheoryEditor-<%= posn %>'>
  <div class="panel-heading">
    <h3 class="panel-title"><%= posn %>:
    	<span data-bind='url'><%= context.url? url : ''%></span>
    	<!-- %= templates.TheoryNameEditor(context) % -->
		<%= posn!='Blend'? templates.TheoryLoader(context) : '' %>
    </h3>
  </div>
  <div class="panel-body">
	<%= posn==='A' || posn==='B'? templates.ManualTheoryEditorDropBits() : '' %>
		
	<textarea class="form-control"></textarea>
	</div></div><!-- ./Theory -->
</template>

<template id='ManualModelEditor'>
<div id='ManualModelEditor' class="ManualModelEditor panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Models</h3>
  </div>
  <div class="panel-body">
  </div>
</div><!-- ./Model -->
</template>

<template id='TheoryLoader'>
	<button data-target='<%= posn %>' 
			onclick="var target=$(this).data('target'); $('#LoadModal .modal-title .name').text(target); $('#LoadModal').data('loadTarget', target); $('#LoadModal').modal();">load</button>	
</template>

<template id='TheoryNameEditor'>
	<input data-bind='' type='text' name='TheoryName' />
</template>

<template id='ManualTheoryEditorDropBits'>
</template>
<!-- 
	<div><h4>Modify by Dropping</h4>
		<ul>
			<li>Symbol <select></select></li>
		</ul>
		<ul>
			<li>Sentence <select></select></li>
		</ul>
	</div>
</template>
 -->
 
<template id='ManualMappingEditor'>
	<div class='Mapping panel panel-default' id='ManualMappingEditor-<%= sourceposn %>-<%= targetposn %>'><h3><%= sourceposn %> &rightarrow; <%= targetposn %></h3>
		<ul>
		</ul>
	</div>
</template>

<template id='CoinventSettings'>
	<div class='CoinventSettings'><h3>Settings</h3>
		<form>
			<table>
			<tr><td>Base:</td><td><input class='engine' name='baseEngine'></td></tr>
			<tr><td>Blend:</td><td><input class='engine' name='blendEngine'></td></tr>
			<tr><td>Consistency:</td><td><input class='engine' name='consistencyEngine'></td></tr>
			<tr><td>Weaken:</td><td><input class='engine' name='weakenEngine'></td></tr>		 		
			<tr><td>Model:</td><td><input class='engine' name='modelEngine'></td></tr>
			<tr><td>Quality:</td><td><input class='engine' name='qualityEngine'></td></tr>
			</table>
		</form>
	</div>
</template>
