

div#main-container {
	margin-top:70px;
}

.flexbox {
	width:100%;
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-around;
	align-content: center;
}
.pad10 {
	padding:10px;
}
.flexitem {
	flex-grow:1;
}
